<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<%- include('./partials/sidebar.ejs') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="/">Dashboard</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= allIntern %></h3>

                <p>Total <br> Peserta Magang</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/intern" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-indigo">
              <div class="inner">
                <h3><%= InternInYear %></h3>

                <p>Total <br> Peserta Tahun Ini</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/intern" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-teal">
              <div class="inner">
                <h3><%= allSubmission %></h3>

                <p>Total <br> Pengajuan Magang</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/submission" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-olive">
              <div class="inner">
                <h3><%= submissionInYear %></h3>

                <p>Total <br> Pengajuan Tahun Ini</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/submission" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-8 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Data Peserta Setiap Bidang Kegiatan
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <% internByBiro.forEach(items => { %>
                    <div class="col-6 col-md-3 text-center">
                      <input type="text" class="knob" value="<%= items.count %>" data-skin="tron" data-thickness="0.2"
                        data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120"
                        data-fgColor="#ff851b" readonly="true">
                      <div class="knob-label"><%= items._id %></div>
                    </div>
                  <% }) %>
                  <!-- ./col -->
                  <!-- ./col -->
                  <!-- ./col -->
                  <!-- <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="80" data-skin="tron" data-thickness="0.2"
                      data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120"
                      data-fgColor="#ff851b" readonly="true">
                    <div class="knob-label">Umum dan Kepegawaian</div>
                  </div> -->
                  <!-- ./col -->
                  <!-- ./col -->
                  <!-- <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="80" data-skin="tron" data-thickness="0.2"
                      data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120"
                      data-fgColor="#ff851b" readonly="true">
                    <div class="knob-label">Komunikasi dan Informasi Publik</div>
                  </div> -->
                  <!-- ./col -->
                  <!-- ./col -->
                  <!-- <div class="col-6 col-md-3 text-center">
                    <input type="text" class="knob" value="80" data-skin="tron" data-thickness="0.2"
                      data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120"
                      data-fgColor="#ff851b" readonly="true">
                    <div class="knob-label">Statistik dan Persandian</div>
                  </div> -->
                  <!-- ./col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Daftar Pengajuan Magang
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nama pemohon</th>
                      <th>Instansi Pemohon</th>
                      <th>Tanggal Pengajuan</th>
                      <th style="width: 40px">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% currSubmission.forEach(items => { %>
                      <tr>
                        <td><%= items.applicant.name.toUpperCase() ?? '' %></td>
                        <td><%= items.applicant.institute.toUpperCase() ?? '' %></td>
                        <td><%= dateFormatCertificate(items.createdAt) ?? '' %></td>
                        <td>
                          <% if (items.status === 'pending') { %>
                            <span class="badge badge-warning">
                              pending
                            </span>
                          <% } else if(items.status === 'success') { %>
                            <span class="badge badge-success">
                              success
                            </span>
                          <% } else if(items.status === 'confirmed') { %>
                            <span class="badge badge-info">
                              confirm
                            </span>
                          <% } else { %>
                            <span class="badge badge-danger">
                              failed
                            </span>
                          <% } %>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-4 connectedSortable">
            <!-- Calendar -->
            <div class="card bg-gradient-light">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="far fa-calendar-alt"></i>
                  Calendar
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body pt-0">
                <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<%- include('./partials/footer.ejs') %>
<%- include('./partials/js.ejs') %>