<table id="example2" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>No.</th>
    <th>Nama Pemohon</th>
    <th>Instansi</th>
    <th>Kandidat</th>
    <th>Jenis <br> Pengajuan</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% submission.forEach((e, i) => { i++ %>
    <tr>
      <td><%= i %></td>
      <td><%= e.applicant.name.toUpperCase() %></td>
      <td><%= e.doc_institute %></td>
      <td><%= e.candidates.length %> kandidat</td>
      <td>
        <% if (e.type_of_submission === 'mandiri') { %>
          <span class="badge badge-secondary">
            mandiri
          </span>
        <% } else { %>
          <span class="badge badge-secondary">
            lowongan
          </span>
        <% } %>
      </td>
      <td>
        <% if (e.status === 'pending') { %>
          <span class="badge badge-warning">
            pending
          </span>
        <% } else if(e.status === 'success') { %>
          <span class="badge badge-success">
            success
          </span>
        <% } else if(e.status === 'confirmed') { %>
          <span class="badge badge-info">
            confirm
          </span>
        <% } else { %>
          <span class="badge badge-danger">
            failed
          </span>
        <% } %>
      </td>
      <td>
        <a href="/submission/detail/<%= e.id %>" class="btn btn-default btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Detail
        </a>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>