<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<%- include('../../partials/sidebar.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <%#- include('../../partials/message.ejs') %>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Laporan Rekapitulasi Magang</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Laporan Rekapitulasi</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">

            

            <div class="card-header">
              <form action="/recap/create" method="get">
                <div class="d-flex flex-row mt-3">

                  <!-- Date range -->
                  <div class="col-10 form-group">
                    <!-- <label>Periode:</label> -->
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" name="date" value="<%= tanggal %>" class="form-control float-right" id="reservation" placeholder="Pilih tanggal">
                    </div>
                  </div>
                  <!-- /.form group -->
                  <div class="col-2">
                    <button type="submit" class=" btn btn-primary">Buat Laporan</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- /.card -->
          <section class="content">
            <!-- <div class="container-fluid"> -->
              <% if (status) { %>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <%- include('./template_recapitulation.ejs') %>
                      </div>
                      <!-- /.card-body -->
                      <div class="card-footer">
                          <a
                          target="_blank"
                            type="button" class="btn btn-primary"
                            href="<%= `/recap/print?date=${tanggal}` %>"
                            >
                            Unduh Laporan
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <!-- </div> -->
          </section>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../../partials/footer.ejs') %>
<%- include('../../partials/js.ejs') %>