<table id="example2" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>No.</th>
    <th>Nama Lengkap</th>
    <th>NIP</th>
    <th>Jabatan</th>
    <th>Status</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
  <% pembina.forEach((e, i) => { i++ %>
    <tr>
      <td><%= i %></td>
      <td><%= e.name.toUpperCase() %></td>
      <td><%= e.nip %></td>
      <td><%= e.job_title.toUpperCase() %></td>
      <td>
        <% if (e.status === 'Y') { %>
          <span class="badge badge-success">
            Aktif
          </span>
        <% } else { %>
          <span class="badge badge-danger">
            Tidak aktif
          </span>
        <% } %>
      </td>
      <td>
        <form action="/pembina/status/<%= e.id %>?_method=PUT" method="POST" style="display: inline-block;">
          <button class="btn btn-primary btn-sm">
            <% if(e.status === 'Y') { %>
                Non-aktifkan user
            <% } else { %>
                Aktifkan User
            <% } %>
          </button>
        </form>
        <a href="/pembina/detail/<%= e.id %>" class="btn btn-default btn-sm ml-2">
          <i class="fas fa-pencil-alt"></i>
          Detail
        </a>
      </td>
    </tr>
  <% }) %>
  </tbody>
</table>