<table id="example2" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Lengkap</th>
      <th>NIS/NIM</th>
      <th>Asal Sekolah</th>
      <th>Jurusan</th>
      <th>Waktu Magang</th>
      <th>status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% intern.forEach((el, i) => { %>
      <tr>
        <td><%= ++i %></td>
        <th><%= el.name %></th>
        <td><%= el.id_num %></td>
        <td><%= el.institute %></td>
        <td><%= el.major %></td>
        <td><%= dateFormat(el.start_an_internship) %> - <%= dateFormat(el.end_an_internship) %></td>
        <td>
          <% if (el.statusIntern === 'pending') { %>
            <span class="badge badge-warning">
              pending
            </span>
          <% } else if(el.statusIntern === 'active') { %>
            <span class="badge badge-primary">
              aktif
            </span>
          <% } else { %>
            <span class="badge badge-success">
              selesai
            </span>
          <% } %>
        </td>
        <td>
          <form action="/intern/status/<%= el.id %>?_method=PUT" method="POST" style="display: inline-block;">
            <button 
              class="btn btn-primary btn-sm"
              <% if (el.statusIntern === 'active' || el.statusIntern === 'finish') { %>
                disabled
              <% } %>
              >
              Aktifkan akun peserta 
            </button>
          </form>
          <a href="/intern/detail/<%= el.id %>" class="btn btn-default btn-sm ml-2">
            <i class="fas fa-pencil-alt"></i>
            Detail
          </a>
        </td>
      </tr>
    <% }) %>
    
  </tbody>
</table>